<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a4802.rjabiblioteca">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/rjaicn"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <activity android:name=".TelaPrincipal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaCursos" />
        <activity android:name=".TelaEFI" />
        <activity android:name=".TelaEFII" />
        <activity android:name=".TelaEM" />
        <activity android:name=".TelaLivros"></activity>
    </application>

</manifest>